body {
    background: #0b0b0b;
    font-family: "Poppins", sans-serif;
    color: #e4e4e4;
    margin: 0;
}

/* HEADER NEON */
.neon-header {
    background: #111;
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px solid #ff00ff55;
    box-shadow: 0 0 15px #ff00ff66;
}
.neon-header .logo {
    color: #ff00ff;
    font-size: 34px;
    text-shadow: 0 0 12px #ff00ff;
}

/* FOOTER */
.neon-footer {
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    background: #111;
    color: #ff00ff;
    border-top: 1px solid #ff00ff55;
    box-shadow: 0 -5px 12px #ff00ff33;
}

.page-content {
    width: 85%;
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
}
